
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - ForgotPassword</title>
    <style>

        body {
            background-color: darkorange;
        }

        .containering {
            background-color: #FF6600;
            color: white;
            max-width: 540px;
            margin: 0 auto;
            position: relative;
            padding-bottom: 20px;
            box-shadow: 0 5px 50px rgba(0,0,0,0.4);
            text-align: center;
            margin-top: 0;
            top: 80px;
            border-radius: 5px;
        }

        .containering2 {
            background-color: goldenrod;
            border: 5px solid #FF6600;
        }

        #SubmitBtn_1 {
            color: White;
            font-family: Calibri;
            font-size: 9px;
            background-color: black;
            border: 1px solid black;
            border-radius: 5px;
            width: 80px;
            height: 20px;
            font-weight: bold;
            text-align: center;
            margin-left: 40px;
        }
       

        #usernamelbl {
            margin-left: 20px;
            color: white;
            font-family: Calibri;
            font-size: 20px;
        }

        #usernametextbox {
            width: 245px;
            margin-left: 15px;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="containering">
        <form method="post" action="/Login/Login">
            <div class="containering2">
                <div class="form-group" id="form1">
                    <label id="usernamelbl">Enter your username</label><br>
                    <input type="text" name="usernme" id="usernametextbox" required /><br>
                </div>
                <br>
                <div>
                    <button id="SubmitBtn_1">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
